#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email, 
#HCB_comment_box #hcb_form_name,  
#HCB_comment_box #hcb_form_website {
    background-color: #F2F2F2;
  }

#HCB_comment_box textarea {
    height: 200px;
  }

#HCB_comment_box blockquote {
    color: black;
  }

#HCB_comment_box .text-blur {
    color:red;
  }
#HCB_comment_box .text-focus {
    color: black;
  }

#HCB_comment_box .submit {
    background:none;
    background-color:gray;
    border:1px solid white;
    color: white;
  }

#HCB_comment_box {
    color: black;
  }

.home-desc {
  visibility: hidden;
}


